<table id="" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Deskripsi</th>
      <th>Action Button</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach((category, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td>
        <form
          action="/category/delete/<%= category.id %>?_method=DELETE"
          method="post"
        >
          <a
            href="/category/edit/<%= category.id %>"
            class="btn btn-warning mr-3"
            >Edit</a
          >
          <button class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
    <!-- <tr>
      <td>Trident</td>
      <td>Internet Explorer 4.0</td>
      <td>Win 95+</td>
      <td>4</td>
      <td>X</td>
    </tr> -->
    <!-- <tr>
      <td>Trident</td>
      <td>Internet Explorer 5.0</td>
      <td>Win 95+</td>
      <td>5</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Trident</td>
      <td>Internet Explorer 5.5</td>
      <td>Win 95+</td>
      <td>5.5</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Trident</td>
      <td>Internet Explorer 6</td>
      <td>Win 98+</td>
      <td>6</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Trident</td>
      <td>Internet Explorer 7</td>
      <td>Win XP SP2+</td>
      <td>7</td>
      <td>A</td>
    </tr> -->
  </tbody>
  <!-- <tfoot>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Action Button</th>
    </tr>
  </tfoot> -->
</table>
